.build*/
.gemini/
*.DS_Store
build*/
_diagnostics/
CompilerOptimizationReport.md
CompilerStatsAndOptimizationTrack.md
ScalarMaxMinAnalysis.md
# conductor/
gha-creds-*.json
offsetof
xcuserdata/
contents.xcworkspacedata
conductor
