name: Linux

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift: ["latest"]
    container:
      image: swift:${{ matrix.swift }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Test
        run: swift test -c release --enable-xctest --parallel --xunit-output .build/xUnit-output.xml

      - name: Upload  artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-linux-${{ matrix.swift }}-${{ github.run_id }}
          path: |
            .build/**/*.a
            .build/**/*.bundle
            .build/**/*.dSYM
            .build/**/*.gdb
            .build/**/*.json
            .build/**/*.txt
            .build/**/*.xctest
            .build/*.json
            .build/*.txt
            .build/*.xml
            .build/*.yaml
          if-no-files-found: warn
          include-hidden-files: true
