name: Windows

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  windows:
    name: Windows (Swift 6.1)
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Test Windows
        uses: brightdigit/swift-build@v1.5.0
        with:
          windows-swift-version: swift-6.1-release
          windows-swift-build: 6.1-RELEASE
          args: swift test -c release --parallel -Xswiftc -warnings-as-errors