name: Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - name: Setup
        uses: compnerd/gha-setup-swift@v0.2.3
        with:
          branch: swift-5.10-release
          tag: 5.10-RELEASE

      - name: Checkout
        uses: actions/checkout@v6

      - name: Test
        run: swift test -c release --parallel --xunit-output .build/xUnit-output.xml

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4.4.3
        with:
          name: artifacts-windows-${{ github.run_id }}
          path: |
            .build/**/*.a
            .build/**/*.bundle
            .build/**/*.dSYM
            .build/**/*.gdb
            .build/**/*.json
            .build/**/*.txt
            .build/**/*.xctest
            .build/*.json
            .build/*.txt
            .build/*.xml
            .build/*.yaml
          if-no-files-found: warn
          include-hidden-files: true

