name: Windows

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  windows:
    name: Windows (Swift 6.0)
    runs-on: windows-latest
    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Swift
        uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-6.0-release
          tag: 6.0-RELEASE

      - name: Run Tests (Release)
        run: swift test -c release --parallel -Xswiftc -warnings-as-errors
