name: Windows

on:
  push:
    branches: [ master, main, track/* ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  test-windows:
    name: Test Windows (Swift 6.0)
    runs-on: windows-latest
    steps:
      - name: Setup Swift
        uses: compnerd/gha-setup-swift@v0.2.3
        with:
          branch: swift-6.0-release
          tag: 6.0.3-RELEASE

      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Build
        uses: actions/cache@v4
        with:
          path: .build
          key: ${{ runner.os }}-swift-6.0-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-swift-6.0-

      - name: Run Tests
        run: swift test --parallel -Xswiftc -warnings-as-errors

  windows-gate:
    name: Windows CI
    needs: test-windows
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: All tests passed
        if: ${{ !(contains(needs.test-windows.result, 'failure') || contains(needs.test-windows.result, 'cancelled')) }}
        run: exit 0
      - name: Some tests failed
        if: ${{ contains(needs.test-windows.result, 'failure') || contains(needs.test-windows.result, 'cancelled') }}
        run: exit 1
